<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs') %>

<body>

    <div id="wrapper">
<!-- Page Content -->
        <div id="blank-page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">500 Error</h1>
                        <p>Sorry, but we encountered an error. Please try again.</p>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <%- include('scripts.ejs') %>
</body>

</html>
