<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs') %>

<body>

    <div id="wrapper">
        <%- include('flash.ejs') %>
        <%- content %>
    </div>
    <!-- /#wrapper -->
    <%- include('scripts.ejs') %>
</body>

</html>
