                <% if(typeof req != 'undefined') { %>
                <% var messages = req.flash(); %>
                <% if (messages.error && messages.error.length > 0) { %>
                <% messages.error.forEach(function(flash) { %>
                    <div class="alert-dismissable alert alert-danger">
                        <button class="close" data-dismiss="alert">×</button>
                        <%- flash %>
                    </div>
                <% }) %>
                <% } %>
                <% if (messages.warning && messages.warning.length > 0) { %>
                <% messages.warning.forEach(function(flash) { %>
                    <div class="alert-dismissable alert alert-warning">
                        <button class="close" data-dismiss="alert">×</button>
                        <%- flash %>
                    </div>
                <% }) %>
                <% } %>
                <% if (messages.info && messages.info.length > 0) { %>
                <% messages.info.forEach(function(flash) { %>
                    <div class="alert-dismissable alert alert-info">
                        <button class="close" data-dismiss="alert">×</button>
                        <%- flash %>
                    </div>
                <% }) %>
                <% } %>
                <% } %>